<div class="container-fluid">
    <div class="row">
     <div class="col-12"> 100% width</div>
    </div>
    <div class="row">
      <!-- <div class="col-12"> -->
        <div class="col-6">50% width</div>
        <div class="col-6">50% width</div>
      <!-- </div> -->
    </div>
    <div class="row">    
      <div class="col-3">25% width</div>
      <div class="col-3">25% width</div>
      <div class="col-3">25% width</div>  
      <div class="col-3">25% width</div>  
    </div>
    <div class="row">    
      <div class="col-4">33% width</div>
      <div class="col-4">33% width</div>
      <div class="col-4">33% width</div>      
    </div>
  </div>