.ay-container {  
    display: grid;  
    grid-gap: 5px;  
    // grid-template-columns: repeat(auto-fit, 100px);
    // grid-template-rows: repeat(2, 100px);  
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    //grid-template-rows: repeat(2, 100px); 
}

.col-4{
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    border:1px solid green;   
}
@media (max-width: 599px ) {
    .row{
        display: list-item;   
        padding:5px;     
    }

    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    border:1px solid yellow;   
    width:100%
    }
}
