@import "variables";

.header{
    width:100vw;
    height: 65px;
    display: flex;
    color:#fff;
}
.header-logo{    
    width: 5%;
    min-width: 100px;
    justify-content: center;
}
.header-title{
     margin-top:10px;
    align-items: center;
    justify-content: left;
    width:80%;
}
.user-profile{
    // width:15%;
     margin-top:10px;
     float:right;
     margin-right: 10px;
    // align-items: right;
    // justify-content: right;        
}

.mat-toolbar.mat-primary{
    background-color: $ay-bg-color;
}

.menu-text{
    font-size: 13px;
}
.menu-text-position{
    top:10px !important;
    position: absolute;
    left: 45px;
    font-weight: normal;
    cursor: pointer;
}
.menu-child-position{
    padding:0px 15px !important;
    height: 40px !important;
}
.menu-child-container{
    padding:0px !important;    
}
.mat-expansion-panel-body{
    padding: 0 24px 2px !important;
}
.sub-menu-item{
    margin-left: 8px;
 }

 
.menu-text-active{
    color: #18bbd6;
}
.logo{
    width:80px;    
    cursor: pointer;
}
.logo-responsive{
    height: auto;
    max-width:100%;
}

.mat-toolbar{
    background-color: $ay-bg-color;
    height: 65px !important;
}
@media (max-width: 599px){
    .mat-toolbar{        
        height: auto !important;
    }
    .header{
        display: list-item;
        height: auto;
    }
    .header-logo{
        min-width: 50px;
        position: absolute;
    }
    .header-title{
        float: right;
        
    }
}