.mat-mdc-table{
    width: 100%;
    border-collapse: collapse;    
}
.mat-mdc-table td, .mat-mdc-table th{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}
.mat-mdc-table th{
    background-color: darkblue;
    color: #fff;
}
.mat-mdc-table tbody tr:nth-child(even){
    background-color: aquamarine;
}

/* Responsive css*/
@media (max-width: 800px){
    .mat-mdc-table{
        width: 100%;        
    }
    .mat-mdc-table .mdc-data-table__header-row{
        display: none;        
    }    
    .mat-mdc-table td, .mat-mdc-table th{        
        border-bottom: 1px solid #ddd;        
    }    
    .mat-mdc-table, .mat-mdc-table .mdc-data-table__row, .mat-mdc-table tr, .mat-mdc-table td{
         display: inline-table; //block;
         width:100%;        
     }
    /*
    .mat-mdc-table .mdc-data-table__row{
         margin-bottom:10px;         
     }
     */
    .mat-mdc-table td{
        text-align: right;
        padding-left: 50%;
        text-align: right;
        font-size: 11px;
        position:relative;    
        margin-right: 10px;     
    }
    
    .mat-mdc-table td::before{
        content: attr(data-label);
        position:absolute;
        left:0px;
        width:50%;
        padding-left: 15px;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
    }
    
    
}