<!-- <ng-container>
    <mat-icon *ngIf="sidenavWidth==15" title="Collapse" style="float: right;" 
    (click)="toggleMenu.emit(false);" mat-list-icon>keyboard_arrow_left</mat-icon>
    <mat-icon *ngIf="sidenavWidth!=15" title="Expand" style="float: right;" 
    (click)="toggleMenu.emit(true);" mat-list-icon>keyboard_arrow_right</mat-icon>    
</ng-container> -->
<ng-container>
    <button mat-icon-button *ngIf="mode === 'over'" (click)="toggle()">
        <mat-icon *ngIf="!opened">menu</mat-icon>
        <mat-icon *ngIf="opened">close</mat-icon>
      </button>
    <!-- <mat-icon *ngIf="sidenavWidth==15" title="Collapse" style="float: right;" 
    (click)="toggleMenu.emit(false);" mat-list-icon>keyboard_arrow_left</mat-icon>
    <mat-icon *ngIf="sidenavWidth!=15" title="Expand" style="float: right;" 
    (click)="toggleMenu.emit(true);" mat-list-icon>keyboard_arrow_right</mat-icon>     -->
</ng-container>
<mat-nav-list class="side-navnar">
    <ng-container *ngFor="let menu of menuList | async; index as i;">
        <ng-container [ngTemplateOutlet]="menu.children ?  childMenu : parentMenu"
            [ngTemplateOutletContext]="{menu:menu}">
        </ng-container>
    </ng-container>
</mat-nav-list>

<ng-template #parentMenu let-menu="menu">
    <mat-list-item [routerLink]="menu.routerLink" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:
        true}">
        <mat-icon>{{menu.icon}}</mat-icon> 
        <ng-container *ngIf="sidenavWidth>6">
           <span class="menu-text-position menu-text"> {{menu.text}} </span>
        </ng-container> 
    </mat-list-item>
</ng-template>

<ng-template #childMenu let-menu="menu">
    <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
            <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
            <ng-container *ngIf="sidenavWidth>6">
                <span class="menu-text-position menu-text"> {{menu.text}} </span>
            </ng-container> 
        </mat-expansion-panel-header>
        <mat-nav-list>
            <ng-container *ngFor="let submenu of menu.children">
                <ng-container *ngIf="submenu?.children?.length>0">
                    <ng-container [ngTemplateOutlet]="subMenu" [ngTemplateOutletContext]="{submenu:submenu}">
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="submenu?.children?.length==0">
                    <mat-list-item [routerLink]="submenu.routerLink"  routerLinkActive="is-active" 
                    [routerLinkActiveOptions]="{exact: true}">
                        <mat-icon>{{submenu.icon}}</mat-icon> <span class="menu-text-position menu-text">  {{submenu.text}}</span>
                    </mat-list-item>
                </ng-container>
                
            </ng-container>
        </mat-nav-list>
    </mat-expansion-panel>
</ng-template>

<ng-template #subMenu let-submenu="submenu">
    <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
            <mat-icon mat-list-icon>{{submenu.icon}}</mat-icon>
            <ng-container *ngIf="sidenavWidth>6"><span class="menu-text-position menu-text"> {{submenu.text}}</span></ng-container> 
        </mat-expansion-panel-header>
        <mat-nav-list>
            <mat-list-item [routerLink]="submenu1.routerLink" *ngFor="let submenu1 of submenu.children" 
            routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>{{submenu1.icon}}</mat-icon> <span class="menu-text-position menu-text"> {{submenu1.text}}</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-expansion-panel>
</ng-template>